vetores/
matrizes/
.vscode/
*.csv
*.out
criadorVetores

COO_matrix/resultados_gprof/
COO_matrix/*.out
COO_matrix/main
COO_matrix/.vscode/

CSC_matrix/resultados_gprof/
CSC_matrix/*.out
CSC_matrix/main
CSC_matrix/.vscode/

CSR_matrix/*.out
CSR_matrix/main

LinkedList_matrix/*.out
LinkedList_matrix/main